body{
    font-family:teko,'Times New Roman', Times, serif ;
}
header{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 15px;
    font-family: teko,'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 25px;
    position: relative;
}
header a{
    padding-right: 10px;
    padding-left: 10px;
}
header a:not(:last-child){
    border-right: 1px solid black;
}

 a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: rgb(106, 123, 106);   
}
.back{
    position: absolute;
    left: 0;
    top: 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;


}
.back-img{
    width: 20px;
}


main{
    height: 700px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;

}
.View-project{
    padding: 10px 40px;
    background-color:rgb(106, 123, 106);   
    color: white;
    border: none;
    border-radius: 3px;
    margin-bottom: 20px;
    font-size: 30px;
    font-family:teko,'Times New Roman', Times, serif ;
}
.View-project:hover{
    color: rgb(106, 123, 106);
    background-color: white;
    border: 1px solid rgb(106, 123, 106) ;
}
.project1{
    height: 300px;
    display: flex;
    align-items: center;
    gap: 50px;
    box-shadow: 0 0 10px rgba(106, 123, 106, 0.8), 0 0 20px rgba(106, 123, 106, 0.6);

}
.project1-detail{
    margin-left: 20px;
    width: 50%;

}
.project1-image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(106, 123, 106);   
    border-radius: 20px;
}
.project1-image img{
    width: 500px;
    border-radius: 30px;
}


hr{
    margin: 25px 15px;
}
footer{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.likdedin-img,.x-img{
    height: 10px;

}
.head{
    font-size: 25px;
    vertical-align: top;
}
footer img{
    height: 30px;
}
.htext{
    font-weight: 300;
    font-size: 17px;
}

@media(max-width:1000px){
    .education,.skills,.work-history,.certeficate,.hobby,.link-PD{
        flex-direction: column;
    }
    .description{
        padding-left: 50px;
    }
}