body{
    font-family:teko,'Times New Roman', Times, serif ;
}
header{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 15px;
    font-family: teko,'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 25px;
}
header a{
    padding-right: 10px;
    padding-left: 10px;
}
header a:not(:last-child){
    border-right: 1px solid black;
}
 a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: rgb(106, 123, 106);   
}

main{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
}
.photo-box{
    width: 350px;
    margin-right: 20px;

}
.photo{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
}
.discribtion-box{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello{
    font-size: 100px;
}
.about-me-title{
    font-size: 30px;
}
.about-me{
    width: 500px;
    flex: 1;
}
.buttons button{
    font-family: teko,'Times New Roman', Times, serif;
    font-size: 25px;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    background-color: rgb(88, 109, 34);
    color: white;
    transition: 0.55s;
}
.buttons button:hover{
    background-color: white;
    color: rgb(88, 109, 34);
}
.buttons{
    margin-top: 15px;

}





hr{
    margin: 10px;
}
footer{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.likdedin-img,.x-img{
    height: 10px;

}
.head{
    font-size: 25px;
    vertical-align: top;
}
footer img{
    height: 30px;
}
.htext{
    font-weight: 300;
    font-size: 17px;
}
@media(max-width: 900px){
    .container{
        flex-direction: column;
    }
    main{
        height: 800px;
    }
}
@media(max-width: 775px){
    
    main{
        height: 900px;
    }
}
@media(max-width: 530px){
    
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}